In [18]:
name = "Lavish"
rollno = 196
sec = "A4"

In [19]:
print(" My name is " + name + " student of section" , sec + " bearing roll number : " ,  rollno)

 My name is Lavish student of section A4 bearing roll number :  196

In [21]:
score = 96.23
semester = '2nd'

In [27]:
print(" I scored " , score , " in semester " , semester)

 I scored  96.23  in semester  2nd